.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 72px;
  background-color: #020617;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  gap: 10px;
  border-right: 2px solid #1E293B; 
}

.navbar img {
  cursor: pointer;
}
