* {
  box-sizing: border-box;
}

p {
  color: #94A3B8;
  margin-bottom: 0px;
  line-height: 1.8;
  font-family: Arial, Helvetica, sans-serif;
}

.chat-bar {
  display: flex;
  margin-top: 20px;
  width: 100%;
  max-width: 800px;
  justify-content: center; 
  margin-top: 50px;
}

.chat-input-wrapper {
  display: flex;
  width: 100%;
  border-radius: 50px;
  background-color: #1E293B; /* Màu nền tổng thể */
  border: 1px solid #334155; /* Màu viền */
  overflow: hidden;
}

.chat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  text-align: center;
  padding-top: 14vh;
}

.intro-logo {
  width: 150px;
}

.chat-input {
  flex: 1;
  padding: 12px 20px; 
  font-size: 16px; 
  border: none; /* Loại bỏ viền mặc định */ 
  outline: none; 
  background-color: #1E293B; /* Màu nền của input */ 
  color: #fff; 
  border-radius: 50px 0 0 50px; /* Bo tròn phía bên trái */
}

.chat-send-button {
  background-color: transparent;
  border: none;
  padding-right: 10px;
  padding-top: 6px;
  padding-bottom: 5px;
  border-radius: 50px 50px 50px 0; /* Bo tròn phía bên phải */
  cursor: pointer;
}

.chat-send-icon {
  width: 32px;
  height: 32px;
  object-fit: cover;
}

.chat-message-list {
  width: 100%;
  max-width: 790px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: calc(80vh - 50px); 
  overflow-y: auto;
  padding: 10px;
  box-sizing: border-box;
}


.chat-message {
  padding: 12px 18px;
  border-radius: 20px;
  max-width: 80%;
  word-wrap: break-word;
  font-size: 15px;
  line-height: 1.5;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  position: relative;
}

.chat-message.user {
  align-self: flex-end;
  background-color: #1E293B;
  border: 1px solid #334155;

  border-bottom-right-radius: 4px;
}

.chat-message.bot {
  align-self: flex-start;
  background-color: #334155;
  border: 1px solid #475569;
  border-bottom-left-radius: 4px;
}

.intro-section {
  transition: transform 0.6s ease, opacity 0.6s ease;
}

.intro-section.fade-out {
  transform: translateY(-300px); 
  opacity: 0; /* Làm mờ */
  pointer-events: none; /* Vô hiệu hóa các sự kiện chuột */
}


.chat-bar.fixed-bottom {
  position: fixed;
  bottom: 20px;
  width: 100%;
  padding: 10px;
  box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
}
